@use "variables";

footer {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 210px;
    background-color: #31393c;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding-top: 30px;
    p {
        color: #9ba1a9;
        display: inline-block;
        width: 45%;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    footer {
        p {
            width: 31%;
            padding: 1%;
        }
    }
}
