@use "variables";

body {
    background: variables.$blanco;
    font-family: "Jost";
}

.div1 {
    .letterpress {
        text-shadow: 1px 2px 3px #ddeeff, 0 0 0 black, -1px 1px 0 #ddeeff, 1px 1px 0 white;

        color: rgba(254, 103, 2, 0.8);
        letter-spacing: -5px;
        font-size: 3em;
        width: 100%;
        text-align: center;
        font-weight: bold;
        animation-name: focus-in-expand-top;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
    }
    .mapa {
        display: none;
    }
}

.div2 {
    .container {
        height: 500px;
    }

    .carousel-1 {
        background: url("https://images.unsplash.com/photo-1619926096619-5956ab4dfb1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80")
            no-repeat center center/cover;
    }

    .carousel-2 {
        background: url("https://images.unsplash.com/photo-1646314230198-e27c375e1a2a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
            no-repeat center center/cover;
    }

    .carousel-3 {
        background: url("https://images.unsplash.com/photo-1634069564622-99a828554a02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=863&q=80")
            no-repeat center center/cover;
    }
    .card-body {
        border: none;
        width: 100%;
        padding: 0;
    }

    .carousel-item {
        height: 23rem;
    }
}

.div3 {
    margin-top: 14%;
    .flip {
        padding: 50px 0;
        margin: 1% 0;
        position: relative;
        align-items: center;
        display: flex;
        width: 100%;
        background: #eeeee8;
        .front {
            width: 100%;
            margin-bottom: auto;
            text-align: center;
            .text-shadow {
                padding: 0 auto;
                display: inline-block;
                font-size: 1.35rem;
                color: #ff595e;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04),
                    4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
                    7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04),
                    0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04),
                    12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
                    0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04),
                    18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
                @media screen and (min-width: 1200px) {
                    font-size: 1.7rem;
                }
            }
        }

        .back {
            height: 100%;
            text-align: center;

            background-color: #212020;
            h2 {
                font-size: 1.1rem;
                height: 22%;
                margin: 1% 0 1% 0%;
            }
            p {
                margin: 0 5%;
            }
            @media screen and (min-width: 510px) {
                h2 {
                    margin: 1% 0 1% 0;
                    font-size: 1.5rem;
                }
                p {
                    margin: 2% 5% 0 5%;
                }
            }
            @media screen and (min-width: 1200px) {
                vertical-align: middle;
                line-height: 40px;
            }
        }
    }
    .flip > .front,
    .flip > .back {
        color: white;
        width: 100%;
        border-radius: 3px;
        display: block;
        transition-timing-function: cubic-bezier(0.21, 0.99, 0, 0.95);
        transition-duration: 0.5s;
        transition-property: transform, opacity;
        p {
            font-size: 0.9125rem;
            color: #eff0e9;
        }
    }
    .flip > .front {
        transform: rotateY(0deg);
    }
    .flip > .back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0;
        bottom: 0px;
        transform: rotateY(-180deg);
    }
    .flip:hover > .front {
        transform: rotateY(180deg);
    }

    .flip:hover > .back {
        opacity: 1;
        transform: rotateY(0deg);
    }

    .flip.flip-vertical > .back {
        transform: rotateX(-180deg);
    }

    .flip.flip-vertical:hover > .front {
        transform: rotateX(180deg);
    }

    .flip.flip-vertical:hover > .back {
        transform: rotateX(0deg);
    }
}

@media screen and (min-width: 992px) {
    // grid

    .cards {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 45% 55%;
        .div1 {
            grid-area: 1 / 2 / 2 / 3;
            .mapa {
                height: 87%;
                width: 95%;
                display: block;
                margin: auto;
                border: 9px solid white;
                transform: translate(0, -10%);
            }

            .letterpress {
                font-size: 1.9rem;
                z-index: 1;
                position: relative;
            }
        }

        .div2 {
            grid-area: 2 / 2 / 3 / 3;
            .carousel-item,
            .container {
                height: 18rem;
                @media screen and (min-width: 1450px) {
                    height: 20rem;
                }
            }
        }

        .div3 {
            grid-area: 1 / 1 / 3 / 2;
            margin-top: 0%;
            .flip {
                margin: 4%;
                height: 40%;
                width: 40%;
                display: flex;
                display: inline-block;
                border-radius: 4px;
                box-shadow: rgb(14 21 47 / 20%) 0px 8px 20px;
                .front {
                    padding: 11% 0;
                }

                .back {
                    text-align: center;
                    justify-content: center;
                    background-color: black;
                    h2 {
                        font-size: 1.4rem;
                        padding: 8% 0;
                    }
                }
            }
        }
    }
}
